@import "_partials/_variables";
@import "_partials/animations";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  background: white;

  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3
 {
   font-family: "Montserrat", serif;
}

.about-page-wrapper {
  .feature-section-wrap {
    background-blend-mode: overlay;

    background: linear-gradient(37deg, #0000007b 69%, #d09350 106.8%);
  }
}

.text-gradient-1 {
  background: linear-gradient(90deg, #000 0%, #db8e4d 76.83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-1 {
  background: linear-gradient(90deg, #000 0%, #754c29 100%);
}

.gradient-2 {
  background: linear-gradient(113deg, #917021 1.4%, #5e3d20 88.57%);
}

.swiper {
  padding: 20px 0 !important;
}

.visitor-cta-btn {
  width: 456px;
  height: 95px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #c49a6c;
  background: linear-gradient(90deg, #000 0%, #754c29 100%);
}

.bannerdescription {
  p {
    color: #d5d3d3;

    font-size: 35px;
    font-style: normal;
    font-weight: 100;
    line-height: 35px;
  }
}

@import "./locals/home.scss";
@import "./locals/menu-component.scss";
@import "./locals/form.scss";
