.herosection-wrapper-home {
  .banner-video {
    mask-image: linear-gradient(to bottom, white 0%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, white 0%, transparent 100%);
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  }
}

.white-linear-to-bottom-mask {
  mask-image: linear-gradient(to bottom, white 0%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, white 0%, transparent 100%);
  mask-size: 200% 100%;
  -webkit-mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.black-linear-to-bottom-mask {
  -webkit-mask-image: linear-gradient(to bottom, #77431e, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, #77431e, rgba(0, 0, 0, 0));
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.upcoming-card {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    border-radius: 8px;
    background-color: $primary-color-saudi;
    transform-origin: top left;
    animation: dashAround 4s linear infinite;
  }
}

.award-section-wrapper {
  position: relative;
  .award-section-heading-1 {
    background: linear-gradient(97deg, #c89212 5.29%, #fff 42.32%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .award-section-heading-2 {
    background: linear-gradient(270deg, #c89212 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.agenda-heading {
  /* Agenda */


  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 100%;
  /* identical to box height, or 150px */
  text-transform: capitalize;
}
