@import "tailwindcss";
@import "tw-animate-css";


@plugin "@tailwindcss/typography";


@theme {
  --color-primary-dubai: #BF0808;
  --color-primary-saudi: #39B54A;
  --color-primary-cairo: #e59450;
  --color-orangeWiD: #C89212;

}

html {
  scroll-behavior: smooth;

}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
.fp-watermark {
  display: none !important;
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;

  /* Small (sm) - default mobile */
  @media screen and (min-width: 640px) {
    max-width: 640px;
  }

  /* Medium (md) */
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  /* Large (lg) */
  @media screen and (min-width: 1024px) {
    max-width: 1024px;
  }

  /* Extra Large (xl) */
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }

  /* 2XL */
  @media screen and (min-width: 1400px) {
    max-width: 1300px;
  }

  /* 3XL or custom larger breakpoint */
  @media screen and (min-width: 1536px) {
    max-width: 1400px;
  }
}

a, button{
  cursor: pointer;
}

.dubai-cta-gradient-bg {
  border-radius: 15px;
  background: linear-gradient(113deg, #000 9.52%, var(--color-primary-dubai) 96.7%);
}

.saudi-cta-gradient-bg {
  border-radius: 15px;
  background: linear-gradient(113deg, #000 9.52%, var(--color-primary-saudi) 96.7%);
}

.cairo-cta-gradient-bg {
  border-radius: 15px;
  background: linear-gradient(113deg, #000 9.52%, var(--color-primary-cairo) 96.7%);
}

.text-stroke-black {

  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-linejoin: bevel;
  -webkit-text-stroke-miterlimit: 1;

}

.text-stroke-white {

  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-linejoin: bevel;
  -webkit-text-stroke-miterlimit: 1;

}

.why-exhibit-wrapper {
  .why-image {
    img {
        mask-image: url('/assets/imgs/Vector 4s.png');
          mask-size: cover;
          mask-repeat: no-repeat;
          mask-position: center;

          -webkit-mask-image: url('/assets/imgs/Vector 4s.png');
          -webkit-mask-size: cover;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-position: center;
    }
  }
}

#smooth-wrapper {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#smooth-content {
  min-height: 100vh;
  will-change: transform;
}



